 
.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
            color: white;
            border-radius: 2px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .pure-button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .pure-button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .pure-button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .pure-button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }


#sign-in-box{
	background: #DDD;
	overflow: auto;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #CBCBCB;
}

#login{

 	border-style: solid #777; 
}
 
 #container{
 	padding-top: 50px;
 	padding-right: 200px;
 	padding-left: 150px;
 	width: auto;
	overflow: auto;
 }

 

 #image1{
 	padding-left: 100px;
 	padding-top: 20px;
 	height: 200px;
 }

 #header{
 	background: #DDD;
 	border-style: solid;
	border-width: 1px;
	border-color: #CBCBCB;
 	padding-left: 150px;
 	padding-right: 100px;
 	overflow: auto;
 }

 #signup{
 	float: right;
 }